/* Media */

@media screen and (min-width: 768px){
  #feature-item{
    max-width: 650px;
  }

  #footer-title{
    text-align: center;
  }

  #footer-nav{
    gap: 0;
    justify-content: space-around;
    flex-direction: row;
  }

  #footer-nav-elem{
    min-width: max-content;
  }

  .footer-list-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #card{
    max-width: 650px;
  }
}

@media screen and (min-width: 1024px){
  
  .nav-list{
    justify-content: flex-end;
  }

  .nav-list-elem{
    padding: 32px;
  }
  
  #introduce-block{
    padding: 128px 64px;
    flex-direction: row;
    gap: 72px;
  }

  #intro-elem{
    justify-content: center;
  }

  #title-left-block{
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
  }

  #inner-block{
    width: 60%;
  }

  #text-right-block{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  #feature-list{
    flex-direction: row;
    padding: 64px 64px;
    gap: 124px;
  }

  #article-main{
    flex-direction: row;
    padding: 64px 64px;
  }

  .article-left-block{
    width: 60%;
  }
  .article-right-block{
    width: 40%;
  }

  #card{
    width: 312px;
  }

  #footer-content{
    padding: 96px 64px;
    gap: 64px;
  }

  #footer-list{
    flex-direction: row;
  }

  #footer-ul{
    gap: 16px;
  }
  
  #footer-li{
    padding: 0;
    text-transform: none;
  }

  .footer-list-about{
    text-align: left;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .article-left-block{
    width: 70%;
  }
  .article-right-block{
    width: 30%;
  }

  #title-left-block{
    width: 80%;
  }
}

/* --------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-dark: #2E323F;
  --dark: #3B4050;
  --light: #F1F1F1;
  --white: #FFFFFF;
  --gold: #A59678;
  --btn-hover: blue;
}

header{
  background-color: var(--header-dark);
  width: 100%;
}

.hero{
  background-color: var(--dark);
  width: 100%;
}

.features{
  background-color: var(--light);
  width: 100%;
}

.articles{
  background-color: var(--white);
  width: 100%;
}

footer{
  background-color: var(--dark);
  width: 100%;
}

/* Header */

header nav{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li{
  color: var(--light);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.3s ease-in-out;
}

li:hover{
  cursor: pointer;
  color: var(--btn-hover);
}

/* --------------- */

/* Hero */

.hero-block{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.two-blocks{
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
}

.left-block{
  width: 100%;
  display: flex;
  align-items: center;
}

.right-block{
  width: 100%;
  display: flex;
  align-items: center;
}

.inner-right-block{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-block h1{
  color: var(--light);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.right-block p{
  color: var(--light);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.btn{
  display: inline-flex;
  background: var(--gold);
  color: var(--light);
  border: none;
  border-radius: 16px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  width: 165px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover{
  color: var(--btn-hover);
}

/* --------------- */

/* Features */

.features-block{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.features-list-block{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 440px;
  margin: 0 auto;
}

.feature h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gold);
}

.feature p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--header-dark);
}

/* --------------- */

/* Article */

.article-block{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.article-two-blocks{
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 48px 24px;
}

.article-left-block{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article-left-block h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: var(--gold);
}

.article-left-block p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--header-dark);
}

.article-right-block{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article-right-block-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: var(--dark);
  padding: 32px;
  max-width: 440px;
  margin: 0 auto;
}

.article-right-block-card h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--light);
}

.article-right-block-card p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--light);

}

/* --------------- */

/* Footer */

.footer-block{
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.footer-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 24px;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-list-about{
  width: 100%;
}

.footer-list-navigation{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.footer-list-navigation-block{
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 150px;
}

.footer-list-navigation-block ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.footer-list-navigation-block li{
  padding: 0;
  text-transform: none;
}

.footer-content h1{
  color: var(--light);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.footer-list h2{
  color: var(--gold);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.footer-list p{
  color: var(--light);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* --------------- */

